# === General ===
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/

# === Ignored folders ===
local_extraction/toolkit_yolo/
local_extraction/runs/
local_extraction/v2/
epic-kitchens-download-scripts/
epic_data/
local_extraction_old
local_extraction_old.rar
local_extraction/videomae_local_part/tensors/
local_extraction/videomae_local_part/tensors_test/
# === Large binary files ===
*.pt
*.rar
*.zip
!yolov8s.pt

# === Ignored files ===


# === Exceptions: keep hotspot JSON files in v2 ===
!local_extraction/v2/hotspot_priors_sta_train.json
!local_extraction/v2/hotspot_priors_train_logodds_min10.json
!local_extraction/v2/hotspot_priors_train_prob_min5.json
