EGO4D_FRAMES_DIR=D:/Thesis/Ego4d-LiteSTA/local_extraction/v2/extracted_frames
TRACK_A_CHECKPOINT=D:/Thesis/Ego4d-LiteSTA/local_extraction/toolkit_yolo/runs/sta_yolov8s_singlecls_20251113_002330/weights/best.pt
TRACK_B_CHECKPOINT=D:/Thesis/Ego4d-LiteSTA/local_extraction/runs/Track_B/checkpoints/trackB_best_mAP_0.3708_20251225_224220.pt
TAXONOMY_PATH=D:/Thesis/Ego4d-LiteSTA/local_extraction/v2/org_annotations/fho_sta_val_height-540.json
TOKENIZER_WEIGHTS=C:/Users/saeed/.cache/torch/hub/checkpoints/resnet18-f37072fd.pth
